.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    width: 100%;
    height: 100%;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_window{
    padding: 30px;
    border-radius: 5px;
    background-color: white;
}

#modal_close{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100%;
    top: 0;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
#modal_close button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_close:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.form_submit_btn{
    width:100%;
    height: 30px;
    color:white;
    border-radius: 5px;
    background-color: #1DC078;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form_container > form{
    display: flex;
    gap:12px;
    flex-direction: column;
}

.form_container > form label{
    font-size: 14px;
}

.form_container > form > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.form_container > form input {
    width: 260px;
    height: 30px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.register_container{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    margin-top:20px;
}

.register_container > div{
    color:#858585;
    cursor: pointer;
}

#register_form{
    display: none;
}